results/
*.pt
__pycache__/
*.pkl
*.pickle
*.hf5
slurm-*.out
wandb/
.ipynb_checkpoints/
.vscode
*.pyc
*.png
dataset/*
!dataset/.gitkeep
__pycache__/
language_generation/src/settings.py
.DS_Store
language_generation/scripts
ict/settings.py